@model ConsumeStudentApiMvc.Models.Student

@{
    ViewBag.Title = "Detail";
}

<h3>@Model.Name</h3>
<hr/>
<div>
    <p>StudentId: @Model.StudentId</p>
    <p>Address: @Model.Address</p>
    <p>Course: @Model.Course.Name</p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
